<html>
<div class="NewArts">
	<h1>WELCOME!</h1>
<% if user_signed_in? %>
#Hacer Algo
<%else%>
<p><%= link_to "Iniciar Sesion", new_user_session_path, class: 'btn btn-primary btn-lg btn-block' %>
<%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-info btn-lg btn-block' %></p>
<%end%>
</div>
</html>